<!DOCTYPE HTML>
<html>
<head>
	<title>Can You Feed It ?</title>
	<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/js/pixi.js"></script>
</head>
<body>
	<h1>Can you feed it ?</h1>
	<h2>Search for a word :</h2>
	<div id="word">
		<form action='/canyoufeedit' method='get'>
			<input type='text' name='word'></input>
		</form>
	</div>
</body>
	<script src="/js/main.js"></script>
</html>
